.form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}

.input {
  max-width: 377px;
}

.input_linkedList {
  width: 204px;
}

.button {
  margin-left: 68px;
}

.button_wrap {
  white-space: nowrap;
  flex: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 30px 10px;
  list-style: none;
  
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.circle {
  animation: circleAnimation 0.5s ease-in-out;
}

@keyframes circleAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}