.form {
  display: grid;
  grid-template-columns: 1fr 1fr min-content 1fr;
  gap: 10px;
  grid-template-areas: ". input button .";
}

.input {
  grid-area: input;
}

.button {
  grid-area: button;
}

.container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(10, min-content);
  gap: 50px 10px;
  box-sizing: border-box;
  padding: 10px 10px;
}

.text_red {
  background-color: red;
}

.circle {
  animation: circleAnimation 0.5s ease-in-out;
}

@keyframes circleAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
